<section class="event">
    <h2>Event</h2>
    <div class="event-list">
        <div>
            <label for="event-title">{{title}}</label>
            <input type="text" id="event-park" name="event-park" />
        </div>
        <div>
            <label for="event-location">{{park_id}}</label>
            <input type="text" id="event-park" name="event-park" />
        </div>
        <div>
            <label for="user-id">{{user_id}}</label>
            <input type="text" id="user-id" name="user-id" />
        </div>
        <div>
            <label for="event-activities">{{description}}</label>
            <input type="text" id="event-description" name="event-description" />
        </div>
    </div>
</section>