<section class="event">
    <h2>Event</h2>
    <div class="event-list">
        <div>
            <h3 class="" id="event-park" name="event-park">{{title}}</h3>
        </div>
        <div>
            <h3 class="event-location" id="event-location" name="event-location">{{park_id}}</h3>
        </div>
        <div>
            <h3 class="user-id" id="user-id" name="user-id">{{user_id}}</h3>
        </div>
        <div>
            <h3 class="event-activities" id="event-activities" name="event-activities">{{description}}</h3>
        </div>
    </div>
</section>