<article class="park">
    <div class="park-info">
        <h2 class="park-name">{{park.name}}</h2>
        <h3 class="park-location">{{park.location}}</h3>
        <h3 class="park-activities">{{park.activities}}</h3>
    </div>
    <div class="'park-events">
        <ol>
            {{#each event as |event|}}
            <li>
                {{> event-info event}}
            </li>
        </ol>
    </div>
</article>