<article class="park-info">
    <div class="park-details">
        <h2 class="park-name">{{name}}</h2>
        <h3 class="park-location">{{location}}</h3>
        <h3 class="park-activities">{{activities}}</h3>
    </div>

    <div class="event-list">
        <ol>
            {{#each events as |event|}}
            <li>
                {{> event event}}
            </li>
            {{/each}}
        </ol>

        {{!-- <form class="add-event">
            <div>
                <a href="/new-event">Add Event</a>
            </div>
        </form> --}}

    </div>
</article>