<section>
    <h2>Create New Event</h2>
    <form class="new-event-form">
        <div>
            <label for="event-park">Enter Park Name</label>
            <input type="text" id="event-park" name="event-park" />
        </div>
        <div>
            <label for="event-activity">Enter Activity</label>
            <input type="'text" id="event-activities" name="event-activities" />
        </div>
        <div>
            <label for="event-description">Enter description</label>
            <input type="text" id="event-description" name="event-description" />
        </div>
        <button type="submit" class="btn">Create</button>
    </form>
</section>